name: "Pages Deploy"

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - '_layouts/**'
      - '_includes/**'
      - '_pages/**'
      - 'assets/**'
      - '_sass/**'
      - '_config.yml'
      - '_data/**'
      - 'Gemfile*'

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages-deploy"
  cancel-in-progress: true

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1.288.0
        with:
          ruby-version: '3.1'
          bundler-cache: true

      - run: bundle exec jekyll build

      - uses: actions/configure-pages@v5

      - uses: actions/upload-pages-artifact@v3
        with:
          path: _site/

      - id: deployment
        uses: actions/deploy-pages@v4
